<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线扑克计分器</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
</head>

<style>
    @font-face {
        font-family: '3D Hand Drawns';
        src: url('./fonts/3D Hand Drawns.ttf');
    }

    .ddz {
        font-family: "3D Hand Drawns";

    }

    .help-block {
        font-family: "微软雅黑";
    }

    .title {
        font-family: "华文行楷";
        font-size: xx-large;
    }
</style>
<body>
<div class="container-fluid alert alert-warning p-0 m-1">
    <div class="row-fluid bg-warning">
        <div class="span12">
            <h1 class="text-center title">
                <i class="fa fa-gamepad"></i>扑克计分器 v0.1.0
            </h1>
        </div>
    </div>
    <div class="row-fluid alert alert-success p-0 m-1">
        <div class="span12 form-inline p-0 m-1">
            <legend class="col-sm-12 ddz text-center">DDZ</legend>
            <span class="col-sm-12 help-block">斗地主在线计分器</span>
            <div class="col-sm-4 input-group p-1">
                <label class="input-group-addon form-label"><span><i
                        class="fa fa-user"></i>User</span></label>
                <input type="text" class="form-control" placeholder="用户一">
            </div>
            <div class="col-sm-4 input-group p-1">
                <label class="input-group-addon form-label"><span><i
                        class="fa fa-user"></i>User</span></label>
                <input type="text" class="form-control" placeholder="用户二">
            </div>
            <div class="col-sm-4 input-group p-1">
                <label class="input-group-addon form-label"><span><i
                        class="fa fa-user"></i>User</span></label>
                <input type="text" class="form-control" placeholder="用户三">
            </div>
            <button class="btn btn-block btn-success m-1" id="btn-ddz">开始游戏</button>
        </div>
    </div>
    <div class="row-fluid alert alert-info p-0 m-1">
        <div class="span12 form-inline  p-0 m-1">
            <legend class="col-sm-12 ddz text-center">BSL</legend>
            <span class="col-sm-12">变色龙在线计分器</span>
            <div class="col-sm-4 input-group p-1">
                <label class="input-group-addon form-label"><span><i
                        class="fa fa-user"></i>User</span></label>
                <input type="text" class="form-control" placeholder="用户一">
                <label for="input_name2" class="input-group-addon form-label"><span><i
                        class="fa fa-user"></i>User</span></label>
                <input type="text" class="form-control" id="input_name2" placeholder="用户二">
            </div>
            <div class="col-sm-4 input-group p-1">
                <label class="input-group-addon form-label"><span><i
                        class="fa fa-user"></i>User</span></label>
                <input type="text" class="form-control" placeholder="用户三">
                <label class="input-group-addon form-label"><span><i
                        class="fa fa-user"></i>User</span></label>
                <input type="text" class="form-control" placeholder="用户四">
            </div>
            <div class="col-sm-4 input-group p-1">
                <label class="input-group-addon form-label"><span><i
                        class="fa fa-user"></i>User</span></label>
                <input type="text" class="form-control" placeholder="用户五">
                <label class="input-group-addon form-label"><span><i
                        class="fa fa-user"></i>User</span></label>
                <input type="text" class="form-control" placeholder="用户六">
            </div>
            <button class="btn btn-block btn-success m-1" id="btn-bsl" type="submit">开始游戏</button>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
            $("#btn-ddz").click(function () {
                $.post("ddz_start",{"user1":"zx"});
                window.location.href="{{ url_for('ddz') }}";
                return false;
            });
        }
    );
</script>
</html>